.post-list {
    margin: 0 auto;
    margin-top: $header-height;
    width: 50%;
    padding: 0.1px 5% 2%;

    @include respond(m) {
        display: block;
        padding-bottom: 5%;
        .card {
            margin-top: 5%;
            width: 100%;
        }
    }
}
