@media (min-width: 1000px) {
  #post {
    article, .pager, .comments {
      margin: 0 auto;
      width: 800px;
    }
  }
  .container {
    margin: 0 auto;
    width: 1000px;
  }
  .posts {
    .post {
      padding-left: 0;
      padding-right: 0;
    }
  }

}
