// dev
#__bs_notify__ {
  display: none !important;
}

$color: #03a87c;
$color2: #E8F3EC;
// reset
body {
  font: 16px/1.5 Georgia, serif, arial;
  color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: Palatino, Garamond, Times, Georgia, serif;;
}

li {
  list-style: none;
}

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
  cursor: alias;
}

// header
#header {
  display: flex;
  padding: 0 20px;
  height: 54px;
  background: #fff;
  align-items: center;

  .logo {
    flex: 1;
    font-size: 24px;
    font-weight: 400;
    color: #000;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    a, img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.navbar {
  flex: 1;
  margin-top: 2px;
  padding: .5em 0;
  border-top: 1px $color solid;
  border-bottom: 1px #eee solid;

  .category-list {
    text-align: center;
    font-size: 14px;
    margin-left: -1.5em;
    li {
      display: inline-block;
      margin-left: 1.5em;
      color: #888;
    }
  }
}

.posts {
  padding: 0 20px;
  .list {
    list-style: none;
  }

  .post {
    margin-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px #eee solid;
    border-radius: 2px;

    .cover {
      display: block;
      margin-bottom: 16px;
      width: 100%;
      height: 170px;
      background-size: cover;
      background-position: 50% 50%;
    }

    .title {
      color: #444;
    }

    .excerpt {
      padding: .4em 0;
      font-size: 14px;
      color: #777;
    }

    .footer {
      display: flex;
      margin-top: .4em;
      font-size: 12px;
      color: #999;
    }
    .date {
      flex: 1;
    }
    .tags {
      text-align: right;
    }
  }
}

.pager {
  padding: 1em 0;
  text-align: center;

  .prev, .next {
    display: inline-block;
    margin: 0 1em;
    font-size: 14px;
    color: #666;
    text-decoration: underline;
  }

  .disable {
    color: #999;
  }
}

// footer
#footer {
  padding: 1em 0;
  border-top: 1px $color2 solid;
  text-align: center;
  font-size: 14px;
  color: #888;
}

#post {
  .title {
    text-align: center;
  }

  .cover {
    position: relative;
    margin-bottom: 20px;
    //padding-top: 60%;
  }
  .cover img {
    display: block;
    width: 100%;
  }

  .post-on {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    color: #999;

    .date .value {
      transform: translate(0, -.1em);
    }

    div {
      display: flex;
      align-items: center;
      padding: 0 .6em;
    }

    ul {
      margin-left: -.3em;
    }

    li {
      display: inline-block;
      margin-left: .3em;
    }

    li:hover {
      color: $color;
    }
  }

  .content {
    padding: 20px;
    line-height: 1.8;
    word-wrap: break-word;
    word-break: break-all;

    > * {
      margin-bottom: .6em;
    }

    > {
      h1, h2, h3, h4, h5, h6 {
        margin-top: 1em;
        margin-bottom: .3em;
      }
    }

    ul {
      padding-left: 2em;
    }

    li {
      list-style: initial;
    }

    figure, blockquote, code {
      font-family: Monaco, monospace;
    }

    blockquote {
      padding: .6em 1em;
      border: 1px $color solid;
    }

    code {
      color: $color;
      overflow-x: auto;
    }

    figure {
      padding: .6em 1em;
      overflow-x: auto;
      background: $color2;

      .gutter {
        display: none;
      }

      .string, .built_in {
        color: $color;
      }

      .number {
        color: #ae81ff;
      }

      .keyword {
        color: #e96900;
      }

      .title {
        color: #83B917;
      }

      .comment {
        color: #999;
        font-weight: 300;
        font-size: .8em;
      }
    }
  }

  .comments {
    padding: 0 20px;
  }
}
#no-posts {
  display: none;
}
