// dev
#__bs_notify__ {
  display: none !important;
}

$color: #03a87c;
$color2: #E8F3EC;
// reset
body {
  font: 16px/1.5 Georgia, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: Palatino, Garamond, Times, Georgia, serif;;
}

a {
  text-decoration: none;
  color: inherit;
}

// header
#header {
  display: flex;
  padding: 0 20px;
  height: 54px;
  background: #fff;
  align-items: center;

  .logo {
    flex: 1;
    font-size: 24px;
    font-weight: 400;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    a, img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.navbar {
  flex: 1;
  margin-top: 2px;
  padding: .5em 0;
  border-top: 1px $color solid;
  border-bottom: 1px #eee solid;

  .category-list {
    text-align: center;
    font-size: 14px;
    margin-left: -1.5em;
    li {
      display: inline-block;
      margin-left: 1.5em;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.posts {
  padding: 0 20px;
  .list {
    list-style: none;
  }

  .post {
    margin-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px #eee solid;
    border-radius: 2px;

    .cover {
      display: block;
      margin-bottom: 16px;
      width: 100%;
      height: 170px;
      background-size: cover;
      background-position: 50% 50%;
    }

    .content {
    }

    .title {
      color: #444;
    }

    .excerpt {
      padding: .4em 0;
      font-size: 14px;
      color: #777;
    }

    .footer {
      display: flex;
      margin-top: .4em;
      font-size: 12px;
      color: #999;
    }
    .date {
      flex: 1;
    }
    .tags {
      text-align: right;
    }
  }
}

.pager {
  padding: 1em 0;
  text-align: center;

  .prev, .next {
    display: inline-block;
    margin: 0 1em;
    font-size: 14px;
    color: #666;
    text-decoration: underline;
  }

  .disable {
    color: #999;
  }
}

// footer
#footer {
  padding: 1em 0;
  border-top: 1px $color2 solid;
  text-align: center;
  font-size: 14px;
  color: #888;
}
