// dev
#__bs_notify__ {
  display: none !important;
}

@import "util";

$color: #03a87c;
$color2: #E8F3EC;
// reset
body {
  font: 16px/1.5 Georgia, serif, arial;
  color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: Palatino, Garamond, Times, Georgia, serif;;
}

li {
  list-style: none;
}

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
  cursor: alias;
}


.logo {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}
// header
#header {
  display: flex;
  padding: 0 20px;
  height: 54px;
  background: #fff;
  align-items: center;
  border-bottom: 1px #eee solid;

  @media (min-width: 1000px) {
    height: 65px;
  }

  .logo {
    flex: 1;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    a, img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.navbar {
  flex: 1;
  padding-top: .8em;
  .category-list {
    text-align: center;
    font-size: 14px;
    margin-left: -1.5em;
    li {
      display: inline-block;
      margin-left: 1.5em;
      color: #888;
    }

    .active {
      color: $color;
    }
  }
}

.posts {
  .year {
    margin: 16px 0;
    text-align: center;
    font-size: 2em;
  }

  .list {
    list-style: none;
  }

  .post {
    padding: 20px;
    border-bottom: 1px #eee solid;
    border-radius: 2px;

    .cover {
      display: block;
      margin-bottom: 16px;
      width: 100%;
      height: 170px;
      background-size: cover;
      background-position: 50% 50%;
    }

    .title {
      color: #444;
    }

    .excerpt {
      padding: .4em 0;
      font-size: 14px;
      color: #777;
    }

    .footer {
      display: flex;
      margin-top: .4em;
      font-size: 12px;
      color: #999;
    }
    .date {
      flex: 1;
    }
    .tags {
      text-align: right;
    }
  }

  @media (min-width: 600px) {
    .list, .pager {
      width: 560px;
      margin: 0 auto;
    }
    .post {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.pager {
  display: flex;
  padding: 1em 20px;
  text-align: center;

  .prev, .next {
    display: block;
    margin: 0 .3em;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #666;
  }

  .prev {
    text-align: left;
  }

  .next {
    text-align: right;
  }

  .disable {
    color: #999;
  }
}

// footer
#footer {
  padding: 1em 0;
  border-top: 1px $color2 solid;
  text-align: center;
  font-size: 14px;
  color: #888;
}

#post {
  margin: 0 auto;
  .scroll-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: .6em 20px;
    width: 100%;
    transform: translate(0, -100%);
    z-index: 2;
    background: rgba(255,255,255, .9);
    transition: transform .3s;

    > * {
      vertical-align: middle;
    }

    .progress {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      border-bottom: 2px $color solid;
      transition: width .3s;
    }
  }

  .scroll-header.scrolled {
    display: block;
    transform: translate(0, 0);
  }

  .title {
    text-align: center;
  }

  .cover {
    position: relative;
    margin-bottom: 20px;
    //padding-top: 60%;
  }
  .cover img {
    display: block;
    width: 100%;
  }

  .post-on {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    color: #999;

    .date .value {
      transform: translate(0, -.1em);
    }

    div {
      display: flex;
      align-items: center;
      padding: 0 .6em;
    }

    ul {
      margin-left: -.3em;
    }

    li {
      display: inline-block;
      margin-left: .3em;
    }

    li:hover {
      color: $color;
    }
  }

  .content {
    padding: 20px;
    line-height: 1.8;
    word-wrap: break-word;
    word-break: break-all;

    > * {
      margin-bottom: .6em;
    }

    > {
      h1, h2, h3, h4, h5, h6 {
        margin-top: 1em;
        margin-bottom: .3em;
        &:first-child {
          margin-top: 0;
        }
      }
    }

    a {
      color: $color;
      text-decoration: underline;
    }

    ul {
      padding-left: 2em;
    }

    li {
      list-style: initial;
    }

    img {
      max-width: 100%;
    }

    figure, blockquote, code {
      font-family: Monaco, monospace;
    }

    blockquote {
      padding: .6em 1em;
      border: 1px $color solid;
    }

    code {
      color: $color;
      overflow-x: auto;
    }

    figure {
      padding: .6em 1em;
      overflow-x: auto;
      background: $color2;

      .gutter {
        display: none;
      }

      .string, .built_in {
        color: $color;
      }

      .number {
        color: #ae81ff;
      }

      .keyword {
        color: #e96900;
      }

      .title {
        color: #83B917;
      }

      .comment {
        color: #999;
        font-weight: 300;
        font-size: .8em;
      }
    }
  }

  .comments {
    padding: 0 20px;
  }
}

#no-posts {
  display: none;
}
@import "mediea";
