<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = "#" + page.tag;
if (page.archive) {
if (page.year) title = page.year + (page.month ? '/' + page.month : '');
else title = __('archive_a');
}
%>
<%- partial('_partial/nav') %>
<!-- Main Content -->
<div class="posts">
  <!-- Use lodash to classify posts. See https://lodash.com/docs#groupBy -->
  <% var groupObj = _.groupBy(page.posts.toArray(), function(p){return -p.date.format('YYYY')}) %>
  <% for (var year in groupObj){ %>
  <p class="year"><%- year.replace('-', '') %></p>
  <ul class="list">
    <% groupObj[year].forEach(function(item) { %>
    <%- partial('_partial/item', {item: item}) %>
    <% }); %>
  </ul>
  <% } %>
  <%- partial('_partial/pagination') %>
</div>

