<div class="site-content home">
    <main class="content-area">
        <% page.posts.each(function(item, itemIndex){ %>
            <%- partial('_partial/article-index', {item: item}) %>
        <% }); %>

        <%- partial('_partial/pagination') %>
    </main>
</div>