<div class="site-content home">
    <ul class="post-list">
        <% page.posts.each(function(item, itemIndex){ %>
            <%- partial('_partial/article-index', {item: item}) %>
        <% }); %>

        <%- partial('_partial/pagination') %>
    </ul>
</div>