<footer id="footer">
  <a href="<%- config.root %>"><%- config.title %> </a><span>&copy; <%= (new Date()).getFullYear() %></span> -
  <a href="http://www.miitbeian.gov.cn/">豫ICP备17048577号</a>
</footer>
