<header class="header">
  <div class="logo">
    <a href="/"><%- config.title %></a>
  </div>
  <div class="avatar">
    <a href="/about/">
      <img src="<%- config.logo || theme.logo %>" alt="<%- config.author %>">
    </a>
  </div>
</header>
<nav class="navbar">
  <%- list_categories({ show_count: false }) %>
</nav>
