<header id="header">
  <div class="logo">
    <a href="/"><%- config.title %></a>
  </div>
  <div class="avatar">
    <a href="/about/">
      <img src="<%- config.avatar %>" alt="<%- config.author %>">
    </a>
  </div>
</header>
<nav class="navbar">
  <%
    var list = site.categories
    if (page.category) list = site.categories
    if (page.tag) list = site.tags
  %>
  <%- list_categories(list, { show_count: false }) %>
</nav>
